
#navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    width: 100%;
    background-color: transparent;
  
    padding: 16px;    
    z-index: 1;

    background-color: yellow;

    .navbar_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar_menu_item{
        padding: 8px 12px;
        margin: 0 4px;
        cursor: pointer;
        border: 1px solid transparent;
    }
}



