/* 🦄ready- Universal tags */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  text-align: center;
  scroll-behavior: smooth;
  background: url(./img/back-dot.png);
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}


/* 🦄ready- css trick */

.title {
  background-color: lightsteelblue;
}

.overflow {
  overflow: hidden;
}
.relative {
  position: relative;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.transforming {
  transition: transform 0.5s;
}

.text-align{
  text-align: center;
}